header {
  color: white;
  background-color: black;
  padding: 25px;
  font-size: 30px; }

main {
  color: black;
  background-color: lightgray;
  padding: 50px; }

footer {
  color: white;
  background-color: black;
  padding: 15px;
  font-size: 20px; }

ul {
  list-style: none;
  background-color: black; }
  ul li {
    display: inline-block;
    padding: 15px; }
    ul li a {
      color: white;
      text-decoration: none; }
      ul li a:hover {
        color: violet; }

.imgborde {
  border: black solid 4px; }
