header{
    color: white;
    background-color: black;
    padding: 25px;
    font-size: 30px;
}
main {
    color: black;
    background-color: lightgray;
    padding: 50px;
}
footer {
    color: white;
    background-color: black;
    padding: 15px;
    font-size: 20px;
}